footer{
    background-color: $bg-color;
}
.footer__wrapper{
    max-width: 1110px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    
    .link__items{
        display: flex;
        justify-content: space-between;
        margin-top: 25px;
        
        .pages__link{
            font-size: 18px;
            line-height: 28px;
            
            .footer__link{
                color: $text-color;
                transition: 0.4s;
                
                &:hover{
                    transition: 0.1s;
                    transform: scale(1.2);
                    padding: 5px 10px;
                    border: 2px solid $text-color-hover;
                    border-radius: 5px;
                    box-shadow: 0 0 10px $text-color-hover;
                    color: $text-color-hover;
                }
                
                &:active{
                    background-color: $text-color;
                    color: $text-color-active;
                }
            }
        }
    }
    
    .footer__information{
        width: 445px;
        
        .footer__information-text{
            font-size: $text-size;
            line-height: $text-line-hieght;
            color: $text-color;
            opacity: 60%;
            
            .footer__information-link{
                color: $text-color;
                border-bottom: 2px solid blue;
                transition: 0.4s;
                
                &:hover{
                    color: yellow;
                    transition: 0.2s;
                }
                
                &:active{
                    border-bottom: none;
                    color: gold;
                }
            }
        }
    }
    
    .social-networks__links{
        
        
        .social-networks__links-images{
            justify-content: flex-end;
            display: flex;
            gap: 16px;
            
        }

        .social-networks__text{
            font-size: $text-size;
            line-height: $text-line-hieght;
            color: $text-color;
            opacity: 60%;
            margin-top: 50px;
        }
    }
}